.container{
	display: table;
	margin: auto;
	width: 100%;
	max-width: 1056px;
}

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}

.row-container{
	display: table;
	width: 100%;
	margin: auto;
	margin-top: 20px;
}

.row{
	display: table;
	width: 80%;
	float: left;
}

.row-medianame{
	display: table;
	float: left;
	width: 80px;
}

.row-percent{
	display: table;
	float: left;
	margin-left: 10px;
}

.bar{
	position: relative;
	top: 5px;
}

.bar-o{
	height: 16px;
	float: left;
	display: table;
}

.bar-o.hover .bar{
	background-color: black;
}

.verdict-1{
	background-color: #eee;
}

.verdict-2{
	background-color: #45D541;
}

.verdict-3{
	background-color: orange;
}

.verdict-4{
	background-color: #F1F409;
}

.verdict-5{
	background-color: #D60000;
}