.container{
	display: table;
	margin: auto;
	width: 100%;
	max-width: 1056px;
}

.image-container{
	display: table;
	margin: auto;
	width: 100%;
	max-width: 1056px;
	position: relative;
	margin-top: 20px;
}

.tooltip{
	position: absolute;
	top: -25px;
	/*left: 0;*/
	z-index: 20;
	display: none;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	background-color: white;
	padding: 5px 5px 5px 5px;
	font-family: defFont;
	font-size: 12px;
}

.row-container{
	display: table;
	width: 100%;
	margin: auto;
	margin-top: 20px;
}

.row{
	display: table;
	width: 80%;
	float: left;
	margin-left: 20px;
}

.row-medianame{
	display: table;
	float: left;
	width: 128px;
	font-family: defFont;
}

.row-percent{
	display: table;
	float: left;
	margin-left: 20px;
	font-family: Arial;
}

.bar{
	position: relative;
	top: 5px;
}

.bar-o{
	height: 16px;
	float: left;
	display: table;
	cursor: pointer;
	position: relative;
}

.bar-o.hover .bar{
	/*background-color: black;*/
	height: 10px !important;
	top: 3px;
}

.bar-o.hover .no-data{
	background-color: black;
}

.vertical-line-block{
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: 10;
}

.vertical-line{
	border-left: 1px solid #a0a0a0;
	height: 665px;
}

.vertical-label{
	font-family: Arial;
	font-size: 14px;
	position: absolute;
	top: -20px;
	left: -35px;
}
/*.bar-o:last-child{
	margin-left: 2.4%;
	width: 6px !important;
}

.bar-o:last-child .bar{
	border-radius: 3px;
}*/

.tip-verdict-1{
	color: #b5b5b5;
}

.tip-verdict-2{
	color: #45D541;
}

.tip-verdict-3{
	color: orange;
}

.tip-verdict-4{
	color: #F1F409;
}

.tip-verdict-5{
	color: #D60000;
}

.tip-no-data{
	color: #b5b5b5;
}

.verdict-1{
	background-color: #b5b5b5;
}

.verdict-2{
	background-color: #45D541;
}

.verdict-3{
	background-color: orange;
}

.verdict-4{
	background-color: #F1F409;
}

.verdict-5{
	background-color: #D60000;
}

@font-face {
  font-family: defFont;
  src: url(ARHeiB5Light.OTF);
}

@font-face{
  font-family: defFontB;
  src: url(ARHeiB5Bold.OTF);
}