h2{
	font-size: 20px;
}

.udn{
	display: table;
	width: 74%;
	margin: 100px auto;
}

.bar{
	position: relative;
	top: 5px;
}

.bar-o{
	height: 16px;
	float: left;
	display: table;
	cursor: pointer;
}

.bar-o.hover .bar{
	background-color: black;
}

/*.bar-o:first-child .bar{
	border-left: 1px solid #eee;
	opacity: 1;
}*/

/*.background-line{
	width: 99%;
	border-top: 1px solid #eee;
	position: absolute;
	top: 9px;
}*/

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}

#calendar-container{
	width: 74%;
	display: table;
	margin: auto;
}

.month{
	display: table;
	width: 100%;
}

.day-row-block{
	width: 100%;
	display: table;
}

.day-row{
	float: left;
	width: 13.2%;
	margin: 0px 0.8% 0.8% 0px;
	text-align: center;
}

.image{
	float: left;
	margin: 0px 0.8% 0.8% 0px;
	width: 13.2%;
	height: 105px;
	display: table;
	position: relative;
	cursor: pointer;
}

.day-overlay{
	color: #6e6e6e;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.future{
	border: 1px solid #EEE;
	box-sizing: border-box;
	pointer-events: none;
}

.cover{
	width: 100%;
	height: 105px;
	opacity: 0.4;
	position: absolute;
	top: 0;
}

.page-overlay{
	display: none;
	z-index: 40000;
}

#page-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.9;
	z-index: 40000;
	top: 0;
	left: 0;
}

#page-cover-block{
	width: 60%;
	background-color: white;
	position: fixed;
	z-index: 40010;
	top: 10%;
	left: 20%;
	box-sizing: border-box;
	padding: 30px;
	border: 1px solid #DDD;
	box-shadow: 0px 0px 15px -6px #6f6f6f;
}

.detail-title-block{
	width: 100%;
	padding: 0px 10px 15px;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}

.detail-title{
	font-size: 20px;
	margin: 0 10px 0 0;
}

.detail-image{
	max-height: 600px;
	position: relative;
}

.detail-image-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.2;
}

.close{
	border: 1px solid #ccc;
	font-size: 10px;
	color: #7b7b7b;
	padding: 1px 4px;
	cursor: pointer;
	margin: 4px 0 0 0;
	position: absolute;
	right: -22px;
	top: -26px;
}

.verdict-1{
	background-color: #ddd;
	opacity: 0.8;
}

.verdict-2{
	background-color: #45D541;
}

.verdict-3{
	background-color: orange;
}

.verdict-4{
	background-color: #F1F409;
}

.verdict-5{
	background-color: #D60000;
}

.no-data{
	background-color: white;
	opacity: 0.8;
}