h2{
	font-size: 20px;
}

#image-container{
	width: 74%;
	display: table;
	margin: auto;
}

.month{
	display: table;
}

.day-row-block{
	width: 100%;
	display: table;
}

.day-row{
	float: left;
	width: 13%;
	margin: 0px 0.8% 0.8% 0px;
	text-align: center;
}

.image{
	float: left;
	margin: 0px 0.8% 0.8% 0px;
	width: 13%;
	height: 105px;
	display: table;
	position: relative;
	cursor: pointer;
}

.day-overlay{
	color: #6e6e6e;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.future{
	border: 1px solid #EEE;
	box-sizing: border-box;
}

.cover{
	width: 100%;
	height: 105px;
	opacity: 0.4;
	position: absolute;
	top: 0;
}

.verdict-1{
	background-color: #ddd;
	opacity: 0.8;
}

.verdict-2{
	background-color: #45D541;
}

.verdict-3{
	background-color: orange;
}

.verdict-4{
	background-color: #F1F409;
}

.verdict-5{
	background-color: #D60000;
}

.no-data{
	background-color: white;
	opacity: 0.8;
}